<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fa-solid fa-boxes-stacked text-primary"></i> SIS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="isUserInGroup() && this.globalUser?.roles?.includes('Owner')">
                    <a class="nav-link active" href="/group">Group</a>
                </li>
                <li class="nav-item" *ngIf="!isUserInGroup()">
                    <a class="nav-link active" href="/creategroup">Create Group</a>
                </li>
                <li class="nav-item" *ngIf="isUserInGroup() && this.globalUser?.roles?.includes('Owner')">
                    <a class="nav-link" href="/devices">Devices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shelves">Shelves</a>
                </li>
            </ul>

            <form class="d-flex" style="margin-left: auto; margin-right: auto; width: 350px;">
                <input class="form-control me-2" type="search" placeholder="Search items" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>

            <span class="navbar-text d-flex gap-2 nav-item align-items-center">
                Welcome, {{ globalUser?.email }}
                <button class="btn btn-link nav-link ms-1" (click)="onLogout()">Logout</button>
            </span>
        </div>
    </div>
</nav>