<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link pointer-cursor" aria-label="Previous" (click)="goToPage(currentPage - 1)">
        <span>{{ 'PREVIOUS' | translate }}</span>
      </a>
    </li>
    <ng-container *ngFor="let page of getPageRange()">
      <li class="page-item" [class.active]="currentPage === page">
        <a class="page-link pointer-cursor" (click)="goToPage(page)">{{ page }}</a>
      </li>
    </ng-container>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link pointer-cursor" aria-label="Next" (click)="goToPage(currentPage + 1)">
        <span>{{ 'NEXT' | translate }}</span>
      </a>
    </li>
  </ul>
</nav>
