<footer class="bg-light text-center text-lg-start">
    <div class="mx-auto d-flex flex-column align-items-center" style="gap: 10px;">
        <div style="font-size: 12px;">
            © 2023 Smart Inventory System - {{ 'Shchoholiev Serhii' | translate }}
        </div>
        <div class="d-flex gap-2">
            <button class="btn flag-button" (click)="switchLanguage('en')">
                English
            </button>
            <button class="btn flag-button" (click)="switchLanguage('ua')">
                Українська
            </button>
        </div>
    </div>
</footer>
